page-quotes {
    $semiBlack: #3f3f3f;

    .numId{
        color: $semiBlack;
        font-size: 15px;
    }

    .quoteText{
        @extend .numId;
    }

    .btnEvent{
        transition: 0.3s ease-in-out;
    }

    .btnEvent:hover{
        height: (((50px * 25) - 1000) / 10) + 25;
        text-decoration: underline;
    }
}