<ion-header>    
  <ion-navbar>
    <ion-title>Quotes</ion-title>
  </ion-navbar>
</ion-header>
    
<ion-content padding>
  <ion-card *ngFor="let data of quotes">
    <ion-card-content>
      <ion-card-title class="numId">
        #{{ data.id }}
      </ion-card-title>
    
      <p class="quoteText">
        {{ data.text }}
      </p>
    
      <p align="right" style="color:grey;">
        - {{ data.person }}
      </p>
    
      <ion-grid>
        <ion-row></ion-row>
        <ion-row></ion-row>
        <ion-row no-padding>
          <ion-col text-right>
            <button class="btnEvent" *ngIf="!quotesService.isFavorite(data)" (click)="onShowAlert(data)" ion-button clear small style="color:orange" icon-start>
              Favorite
            </button>
            <button class="btnEvent" *ngIf="quotesService.isFavorite(data)" (click)="onShowAlertUnfavorite(data)" ion-button clear small style="color:red" icon-start>
              Unfavorite
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
    