page-favorite {
    $semiBlack: #3f3f3f;

    @keyframes fontSizeScale {
        0% { font-size: 0px; }
        100% { font-size: 15px; }
      }
    @keyframes pushToRight {
        0% {
            opacity: 0;
            padding-right: 20px;
        }
        100% {
            opacity: 1;
            padding-right: 0px;
        }
    }

    .quoteText{
        font-weight: bold;
        color: $semiBlack;
        animation: fontSizeScale 0.8s ease-in-out;
        animation-fill-mode:forwards;
    }

    .quoteAuthor{
        opacity: 0;
        text-align: right;
        padding-right: 20px;
        animation: pushToRight 1s ease-in-out;
        animation-fill-mode:forwards;
        animation-delay: 0.3s;
    }  
}
