<ion-header>
    <ion-navbar>
      <ion-buttons start>
        <button ion-button menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Favorites</ion-title>
      <ion-buttons end>
        <button ion-button (click)="presentPopover($event)" >
          <ion-icon name="ios-more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list >
      <ion-item-sliding *ngFor="let quote of quotes" (click)="presentActionSheet(quote)" >
        <ion-item [ngStyle]="{'background-color': listColor}">
          <h2 class="quoteText">{{quote.text}}</h2>
          <p class="quoteAuthor">{{quote.person}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="light">
            <ion-icon name="more"></ion-icon>
            more
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>