<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button menuToggle >
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>Sign Up</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <ion-list>
            <ion-list-header color="primary">Sign Up</ion-list-header>
            <ion-item>
              <ion-label fixed>Email</ion-label>
              <ion-input type="email" placeholder="Email" formControlName="email" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Pasword</ion-label>
                <ion-input type="password" placeholder="Password" formControlName="password" minlength="6" ></ion-input>
              </ion-item>
          </ion-list>
          <button ion-button type="submit" block color="secondary" [disabled]="!userForm.valid">Sign Up</button>
          </form>
</ion-content>
