<ion-menu [content]="sideMenu">
        <ion-header>
                <ion-toolbar text-center>
                        <h3>Menu</h3>
                </ion-toolbar>
        </ion-header>
    <ion-content>
        <ion-list>
                <div *ngIf="isLoggedIn">
                        <button block (click)="onLoad(tabsPage)" ion-item menuClose>           
                                <div>
                                        <ion-icon name="quote"></ion-icon>
                                        <label>&nbsp;Quotes</label>
                                </div>
                        </button>
                        <button block (click)="onLoad(settingPage)" ion-item menuClose>           
                                <div>
                                        <ion-icon name="settings"></ion-icon>
                                        <label>&nbsp;Setting</label>
                                </div>
                        </button>
                        <button block (click)="logout()" ion-item menuClose>           
                                <div>
                                        <ion-icon name="exit"></ion-icon>
                                        <label>&nbsp;Logout</label>
                                </div>
                         </button>
                </div>
                <div *ngIf="!isLoggedIn">
                        <button block (click)="onLoad(signInPage)" ion-item menuClose>           
                                <div>
                                        <ion-icon name="log-in"></ion-icon>
                                        <label>&nbsp;Sign In</label>
                                </div>
                        </button>
                        <button block (click)="onLoad(signUpPage)" ion-item menuClose>           
                                <div>
                                        <ion-icon name="person-add"></ion-icon>
                                        <label>&nbsp;Sign Up</label>
                                </div>
                    </button>
               </div>
                
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="tabsPage" #sideMenu></ion-nav>