<ion-header>
    <ion-navbar>
      <ion-title align='center'>Quote</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-content>
        <h2 align='center'>
          {{quote.text}}
        </h2>
        <p align='center' style="color:gray">
          {{quote.person}}
        </p>
        <br>
        <ion-grid>
          <ion-row no-padding>
            <ion-col text-center>
              <button (click)='onRemoveQuote(quote)' ion-button align='center' clear style="color:red">
                Unfavorite
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row no-padding>
        <ion-col text-center>
          <button ion-button align='center' (click)='closeModal()' clear style="color:red">
            Close
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>