page-library{
    .thumbIcon, h3, h6{
        color: #1C2833;
    }

    @keyframes scaling {
        0% {transform: scale(0.0, 0.0);}
        65% {transform: scale(1.2, 1.2);}
        100%{transform: scale(1.0, 1.0);}
    }
    @keyframes pushToLeft {
        0% {
            opacity: 0;
            padding-left: 40px;
        }
        100%{
            opacity: 1;
            padding-left: 0px;
        }
    }

    button{
        .quoteIcon{
            animation: scaling 0.5s ease-in;
            animation-fill-mode: forwards;
        }
        .quoteCategoryContainer{
            padding-left: 40px;
            opacity: 0;
            animation: pushToLeft 0.8s ease-in-out;
            animation-fill-mode: forwards;
        }
        
    }
    
}
