<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle >
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Library</ion-title>
  </ion-navbar>
</ion-header>
    
<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let quote of quoteCollection" [navPush]="quotesPage" [navParams]="quote">
      <ion-icon class="quoteIcon" name="{{quote.icon}}" item-left style="color: #ffb202;"></ion-icon>
      <div class="quoteCategoryContainer">
        <h2 style="color: #ffb202;">{{quote.category.toUpperCase()}}</h2>
        <p>{{quote.quotes.length}} quotes</p>
      </div>
    </button>
  </ion-list>
</ion-content>    