<ion-header>
  <ion-navbar>
    <ion-title>Setting</ion-title>
    <ion-buttons start>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list-header>
        Change Quotes Header
      </ion-list-header>
    <ion-item>
      <ion-label>Alternative Background</ion-label>
      <ion-toggle (ngModelChange)="handleToggle($event)" [(ngModel)]="toggleValue"></ion-toggle>
    </ion-item>
    <br>
    <ion-list-header>
        Change App-Wide Settings  
      </ion-list-header>
      <ion-item>
          <ion-label>Tabs Placement</ion-label>
          <ion-select [(ngModel)]="tabs" (ionChange)="tabsPlacementChanged(tabs)" [selectedText]="selectedTabs">
            <ion-option value="top" selected="{{ tabStateTop }}" >Top of the page</ion-option>
            <ion-option value="bottom" selected="{{ tabStateBottom }}">Bottom of the page</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Page Transition</ion-label>
            <ion-select [(ngModel)]="transition" (ionChange)="transitionStyleChanged(transition)" [selectedText]="selectedTransition">
              <ion-option value="ios" selected="{{ transStateIos }}">IOS Style</ion-option>
              <ion-option value="and" selected="{{ transStateAnd }}">Android Style</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button warning style="width: 100%;" (click)="applyChangesClicked()">Apply Changes</button>
</ion-content>
